---
layout: default
title: Blog
---

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">

    
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title"> {{ post.title }}</h2>
      
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>
    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }} by {{ site.authors[post.author].display_name  }}
    </p>
  
    <div class="post-entry">
      {% if post.thumbnail %}
        <img class="thumbnail" style='background-image: url({{ post.thumbnail }});'></img>
      {% endif %}
      {{ post.content | truncatewords: 100 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
    <br/><br/>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <ul class="previous" style="float: left;">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: 'index.html', '/' | replace: '//', '/' }}">&larr; Newer Posts</a>
  </ul>
  {% endif %}
  {% if paginator.next_page %}
  <ul class="next" style="float: right;">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: 'index.html', '/' | replace: '//', '/' }}">Older Posts &rarr;</a>
  </ul>
  {% endif %}
</ul>
{% endif %}
