<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

  <title>{{ page.title }} | {{site.name}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
    integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i"
    rel="stylesheet">

  <link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">

  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

  <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

</head>


{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}

<body class="{{layout}}">


  <!-- Begin Menu Navigation
================================================== -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">

    <div class="container pr-0">

      {{ site.baseurl}}
      <a href="{{ site.baseurl }}/index.html"> <img src="{{ site.baseurl }}/assets/images/logo.png" width=100px> </a>

      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for node in sorted_pages %}
      {% if node.title != null  and node.hidenav != true %}
      {% if node.layout == "page" %}
      {% if node.short-title != null %}
      <a class="nav-link" href="{{ node.permalink }}"> {{ node.short-title }}</a>
      {% else %}
      <a class="nav-link" href="{{ node.permalink }}"> {{ node.title }}</a>
      {% endif %}
      {% endif %}
      {% endif %}
      {% endfor %}

      {% include search-lunr.html %}

    </div>
  </nav>
  <!-- End Navigation
================================================== -->

  <div class="site-content">

    <div class="container">


      <!-- Content
================================================== -->
      <div class="main-content">
        {{ content }}
      </div>

      {% if site.mailchimp-list %}
      <!-- Bottom Alert Bar
================================================== -->
      <div class="alertbar">
        <div class="container text-center">
          <span><img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{site.title}}"> &nbsp; Never miss a <b>story</b>
            from us, subscribe to our newsletter</span>
          <form action="{{site.mailchimp-list}}" method="post" name="mc-embedded-subscribe-form"
            class="wj-contact-form validate" target="_blank" novalidate>
            <div class="mc-field-group">
              <input type="email" placeholder="Email" name="EMAIL" class="required email" id="mce-EMAIL"
                autocomplete="on" required>
              <input type="submit" value="Subscribe" name="subscribe" class="heart">
            </div>
          </form>
        </div>
      </div>
      {% endif %}

    </div>





  </div> <!-- /.site-content -->

  <!-- Scripts
================================================== -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

  <script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>

  <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>

</body>

</html>